<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talk.walk">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.talk.walk.MyApplication"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.ChatMessenger">
        <activity
            android:name="com.talk.walk.Activities.PointsActivity"
            android:exported="true" />
        <activity
            android:name="com.talk.walk.Activities.SearchActivity"
            android:exported="true" />
        <activity
            android:name="com.talk.walk.Activities.StartActivity"
            android:exported="true" />
        <activity
            android:name="com.talk.walk.Activities.WebViewActivity"
            android:exported="true" />
        <activity
            android:name="com.talk.walk.Activities.BlockFriendsActivity"
            android:exported="true" />
        <activity
            android:name="com.talk.walk.Activities.NotificationsActivity"
            android:exported="true" />
        <activity
            android:name="com.talk.walk.Activities.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.talk.walk.Activities.VideoViewerActivity"
            android:exported="true" />
        <activity
            android:name="com.talk.walk.Activities.ImageViewerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.talk.walk.Activities.ChatActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.talk.walk.Activities.MatchingPeopleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.talk.walk.Activities.MatchPeopleActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.talk.walk.Activities.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.talk.walk.Activities.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.talk.walk.Activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/> <!-- optional (needed if default theme has no action bar) -->


        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.talk.walk.Utils.AppService"
            android:enabled="true"
            android:exported="true" />
        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2518991901166857~9826548932"/>
        <service
            android:name="com.talk.walk.Utils.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>